ul {
	padding: 0;
}

.content {
	width: 75%;
}

.posts {
	list-style-type: none;
	margin: 0;
}

.post {
	margin: 1rem 0;

	a {
		display: block;
		padding: 0.7rem;
		background: #f4f4f4;
	}

	a:hover {
		background: #e4e4e4;
	}

	h2 {
		margin-bottom: 0;
	}

	p {
		color: #777777;
		font-size: .8rem;
	}
}

.pagination {
	margin: 5rem 0;

	a {
		background: #f4f4f4;
		color: #000000;
		display: inline;
		padding: 0.5rem;
		margin-right: 1rem;
		text-decoration: none;
	}

	a:hover {
		background: #e4e4e4;
	}

	.current {
		background: #e4e4e4;
	}
}

@media screen and (max-width: 600px) {

	.content {
		width: 100%;
	}
}