h2 {
	color: #000000;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

.footer {
	margin-top: 3rem;
}

.container {
	display: flex;
}

.social-media {
	margin-bottom: 2rem;
}

.social-media a {
	font-size: 2.5rem;
	padding-right: 1rem;
	color: #999999;
	transition: 650ms;
}

.twitter:hover {
	color: #38a1f3;
}

.facebook:hover {
	color: #4267b2;
}

.github:hover {
	color: #768088;
}

.list {
	margin: 2rem 0;
}

.item {
	color: #999999;
	line-height: 1.9;
}

.item:hover {
	color: #666666;
}

.active-item {
	color: #333333;
}