.contents {
	width: 25%;
	padding: 0 2rem;
}

.content {

	margin: 2rem 0 2rem 0;
	font-size: .8rem;
	
	a {
		display: inline-block;
		background: #f4f4f4;
		color: #000000;
		padding: .5rem;
		margin: .25rem .25rem; 
		text-decoration: none;
	}

	a:hover {
		background: #e4e4e4;
	}
}


@media screen and (max-width: 600px) {

	.contents {
		width: 100%;
		padding: 2rem 0;
	}


}